/* ----------------------------------------------------------------2024-06-12 hms-------------------------------------------------------------------- */
.completeOrder{
    text-align: center;
}


@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-semibold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

/* 배너 css */
.banner {
    width: 1920px;
    height: 380px;
    display: block;
    background: url(../../assets/ticket_banner.png) no-repeat center;
    color: #FFFFFF;
    text-align: left;
    align-content: center;
    text-shadow: 3px 3px 15px #000000;
}   

.banner h1{
    margin: 0 320px;
    padding: 0;
    font-family: 'Pretendard-bold';
    font-weight: bold;
    font-size: 54px;
    letter-spacing: 0.2rem;
}

.banner p{
    margin: 0 320px;
    padding: 0;
    font-family: 'Pretendard-Regular';
    letter-spacing: 0.2rem;
    font-size: 18px;

}

.banner-head{
    margin: 0 320px;
    text-align: left;
    align-content: center;
}

/* 바디 부분 css */
.complete-body-head{
    display: block;
    width: 100%;
    height: 138px;
    margin: 0 320px;
    padding: 0;
    align-content: center;
    text-align: left;
}

.complete-body-head h3{
    font-family: 'Pretendard-semibold';
    font-weight: 600;
    font-size: 30px;
}

.complete-body{
    margin: 0 320px;
    padding: 0;
    font-family: 'Pretendard-Regular';
    color: #333333;
    border-top: 3px solid #333333;
}

.complete-body h4{
    font-family: 'Pretendard-bold';
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.complete-body p{
    font-size: 18px;
    margin-bottom: 80px;
}

/* 바디 내 각 페이지 이동버튼 css */
.complete-body input[type="button"]{
    width: 173px;
    height: 56px;
    margin-right: 21px;
    color: #FFB800;
    background-color: #FFFFFF;
    border: 1px solid #FFB800;
    border-radius: 15px;
    font-family: 'Pretendard-semibold';
    font-weight: 600;
}

/* 호버 시 변화 css */
.complete-body input[type="button"]:hover{
    background-color: #FFB800;
    color: #FFFFFF;
}

.complete-body h1{
    margin: 40px auto;
}

/* ----------------------------------------------------------------//2024-06-12 hms-------------------------------------------------------------------- */